*{
  margin: 0;
  padding: 0;
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;

}
header{
  
  display: flex;
  background-color: #ffffff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
box-shadow: 0px 4px 12px rgba(237, 237, 237, 0.77);
  
  
  
}

.myntra_home{
  height: 40px;
  
}

.logo_container{
  margin-left: 4%;
}

.action_bar{
  margin-right: 4%;
}
.nav_bar{
  display: flex;
  min-width: 540px;
  justify-content: space-between;
}

.nav_bar a{
  
  font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    margin-left: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 0px;
    border-bottom: 3px solid #ffffff;
}

.nav_bar a:hover{
  border-bottom: 3px solid #ff3f6c;
}

.nav_bar a sup{
  position: relative;
  top:-0.04rem;
  color: #ff3f6c;
  font-size: 10px;
  letter-spacing: normal;
  font-weight: 700;
}
.search_bar{
  height: 40px;
  margin-left: 30px;
  width: 450px;
  display: flex;
  align-items: center;
  
  }


.search_input{
  font-size: 14px;
    height: 40px;
    line-height: 24px;
    color: #696e79;
    background: #f5f5f6;
    border: none;
    flex-grow: 1;
    margin-left: 1px;
    padding: 10px;
    border-radius: 0px 4px 4px 0px;
}


.search_icon{
box-sizing: content-box;
width: 20px;
height: 20px;
padding: 10px;
font-weight: 300;
background: #f5f5f6;
color: #282c3f;
border-radius: 4px 0px 0px 4px;

}

.action_bar{
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
  align-items: center;
  width: 200px;
}
.action_container{
  font-size: 12px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.action_container span{
  font-weight: 250;
}


/* Main Section */
.banner_container{
  margin: 45px 0px;
}
.banner_image{
  width: 100%;
}
.category_heading{
  text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 70px 0 50px 60px;
    max-height: 5em;
    font-weight: 700;
}

.category_items{
  display: flex;
  width: 100%;
  margin-top:70px;
}

.category_images{
  width: 100%;
  flex-shrink: 1;
}

.shopcategory_items{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.shopcategory_images{
  width: 90%;
  flex-shrink: 1;
}

/* Footer */

.footer_container{
  display: flex;
  padding: 0 800px;
  justify-content: space-around ;
  padding: 0px 100px 40px 100px;
  background-color: #FAFBFC;
}

.footer_column{
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  
    
}
.footer_column a{
  text-decoration: none;
  color: #696b79;
  padding-bottom: 5px;
  font-size: 15px;

}
.footer_headings{
  margin-top: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #282c3f;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.download_container{
  display: flex;
  width: 290px;
  justify-content: space-between;
  
}
.download_icons{
  width: 140px;
  height: 45px;
  border-radius: 4px;
}

.social_container{
  display: flex;
  width: 110px;
  justify-content: space-evenly;
}

.social_icons{
  width: 25px;
  padding-left: 4px;
  -webkit-filter: grayscale(1); 
  filter: grayscale();
}
.youtube_icon{
  width: 28px;
  height: 22px;
  padding-left: 4px;
  -webkit-filter: grayscale(1); 
  filter: grayscale();
}
.copyright{
  color: #94969f;
  text-align: end;
  padding: 10px;
}